.header-warpper{
    height: 60px;   
    width: 100%;
    background: #000;
    position: fixed;
    top: 0;
    transition: all 0.4s linear;
    display: flex;
}
.header-focus{
    right: 0;
}
.header-blur{
    right: -70%;   
}
.header-menu-icon{
    color: #fff;
    // font-size: 40px;
    font-size: 75%;
    flex: none;
}
.header-menu-icon:hover{
    color: lightblue;
}