.gallery-container{
    padding-top: 90px;
    height: 100%;
    box-sizing: border-box;
    // height: calc(~'100% - 90px');
    width: calc(~'100% + 17Px');
    overflow-y: scroll;
    background: lightcoral;
    .top{
        position: fixed;
        display: block;
        color: red;
        cursor: pointer;
        width: 20Px;
        height: 20Px;
        font-size: 20Px;
        right: 5Px;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10Px;
        background: #fff;
        box-shadow:0Px 0Px 5Px 1Px green;
        transform: translateY(-50%);
        transition: all 200ms  linear;
        &:hover{
            height: 40Px;
            width: 40Px;
            border-radius: 20Px;
            font-size: 40Px;
            right: 0;
        }
    }
    // .img-box{
    //     width: 50%;
    //     float: left;
    //     position: relative;
    //     img{
    //         width: 100%;    
    //     }
    //     p{
    //         position: absolute;
    //         bottom: 10px;
    //         font-size: 30px;
    //     }
    // }
    
}
