.sidebar-container{
    position: fixed;
    width: 70%;
    top: 0;
    bottom: 0;
    left: 0;
    background: lightblue;
    transition:all 0.3s linear;
}
.sidebar-container-onHide{
    left: -70%;
}

.sidebar-user{
    height: 150px;
    background: lightcoral;
    button{
        width: 75px;
        height: 75px;
        font-size: 50px;
    }
}
.sidebar-menu{
    height: 300px;
    background: red;
}
.sidebar-footer{
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background: #fff;
}